<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burgers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Design Scripts-->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script src="https://kit.fontawesome.com/e57b1492f5.js" crossorigin="anonymous"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Chewy|Fredoka+One|Frijole|Gloria+Hallelujah|Homemade+Apple|Indie+Flower|Jua|Lemon|Luckiest+Guy|Mountains+of+Christmas|Rubik+Mono+One|Share+Tech+Mono|Shrikhand|Sue+Ellen+Francisco&display=swap" rel="stylesheet">
    
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/script.js"></script>
    <!-- Include Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  
   
</head>
<body>
    {{{ body }}}
</body>
</html>