/*font-family: 'Indie Flower', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Chewy', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'Shrikhand', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Lemon', cursive;
font-family: 'Frijole', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Mountains of Christmas', cursive;
*/

.create-form input {
	width: 300px;
	margin: 0 auto;
}
.img-responsive {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
}

.header > h1 {
	font-family: 'Frijole', cursive;
	text-align: center;
}

.header > p {
	font-family: 'Jua', sans-serif;
	text-align: center;
}
label {
	font-family: 'Jua', sans-serif;
}
i {
	color:black;
}
#newburger {
	text-align: center;
	border-radius: 5px;
	text-align: center;
}

ul {
	font-family: 'Jua', sans-serif;
}

#lefthead {
    background-color: rgb(75, 167, 115);
    color: black;
    text-align: center;
	font-size: 1.2em;
	font-family: 'Jua', sans-serif;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: tan;
    color: black;
    text-align: center;
	font-size: 1.2em;
	font-family: 'Jua', sans-serif;
}